* {
    font-family: 'Segoe UI';
}

/* this is the navigation bar */

.logo img {
    width: 184px;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
}

.right ul {
    display: flex;
    gap: 35px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 6px;
}

main {
    margin-top: 70px;
}

/* this is section 1 */

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin: 70px 70px 0 70px;
}
.section1 span {
    font-size: 48px;
    margin-left: 25px; 
}

.section1 span img{
    margin: 0 25px;
}

.section1 p{
    font-size: 24px;
    width: 70vw;
    text-align: center;
    margin: 3px 0 0 0;
}

.section1 div button {
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 700;
    border: transparent;
    background-color: #00b6d1;
    color: #fff;
    font-size: 14px;
}

.section1 div button a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI';
}

.section1 .last1 {
    text-align: left;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin:25px 460px 0 0;
}

.section1 .last1 img {
    padding: 20px;
}

.section1 .last1 span {
    font-size: 23px;
    margin: 0 5px;
}

.section1 .last1 div {
    padding-bottom: 15px;
}

/* this is section 2 - Main section of the Exercise */

.section2{
    margin-top: 15px;
    max-width: 70vw;
    margin: auto;
}

.section2 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.section2 .grid .items {
    border: transparent;
    padding: 10px;
    margin: 4px 0;
    background-color: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
    /* display: grid; */
}

.section2 .grid .items h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 7px;
    min-height: 61px;
    padding-bottom: 12px!important
}

.section2 .grid .items small {
    font-size: 12px;
    font-weight: 400;
}

.items .button1,.button2{
    border-radius: 5px;
    border: transparent;
    padding: 10px 15px;
    font-size: 11px;
    font-weight: 700;
    color: white;
    margin: 0 0 12px 0;
    cursor: pointer;
}

.items .button1 a,.button2 a{
    text-decoration: none;
    color: #fff;
}

.items .button1 {
    background-color: #00b6d1;
}

.items .button2 {
    background-color: #5cb85c;
}

@media screen and (max-width: 1145px) {
    .section2 .grid {
        grid-template-columns: 1fr;
    }
}